
	body {
		background-color: #e8effc;
	}


	.portfolio-header {
    text-align: right;
		font-weight: bold;
		font-size: 30px;
		font-family: Impact;
	}


	.portfolio-header-image {
		float: left;
		padding-left: 0px;
		border-width: thick;
		border-color: black;
		width:20%;
		margin-bottom: .25em;
	}


	.featured-work {
		font-size: 30px;
		font-family: Impact;
		text-align: center;
		text-decoration: underline;
	}


	.portfolio-paragraph {
		text-align: center;
		font-size: 20px;
		font-family: Impact;
	}


	.portfolio-footer {
		text-align: center;
		font-size: 15px;
		font-family: Impact;
	}


	.menu-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 100%;
		height: auto
	}
